<ul>
  <li><a href="/climbs">All Climbs</a></li>
</ul>

<h1>Crags</h1>
<% @crags.each do |crag| %>
<h3><%= crag.name %> <%= link_to "Update Crag", "/crags/#{crag.id}/edit", method: :get%> <%= link_to "Delete Crag", "/crags/#{crag.id}", method: :delete %></h3> <p>Created At: <%= crag.created_at %> </p>
<% end %>

<br>
<br>
<h3><%= link_to "New Crag", "/crags/new" %></h3>
