<ul>
  <li><a href="/crags">Crags</a></li>
  <li><a href="/climbs">All Climbs</a></li>
</ul>

<h1><%= @climb.name %></h1>
<h3>Pitches:</h3><p><%= @climb.pitches %></p>
<h3>Trad?</h3><p><%= @climb.trad %></p>
<br>
<%= button_to "Update Climb", "/climbs/#{@climb.id}/edit", method: :get %>
<br>
<%= link_to "Delete Climb", "/climbs/#{@climb.id}", method: :delete %>
